@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slide-content .scroller {
  width: 1024px;
} */
/* "fastestest" way: added this in inspector: */
/* 
* {
  outline: 1px solid #f00 !important;
} */

.hamburger {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 25px;
  width: 25px;
}

.bar {
  display: inline-block;
  width: 24px;
  height: 3px;
  border-radius: 1px;
  transition: all ease-in-out 0.3s;
}

.open .bar:first-child {
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
}

.open .bar:nth-child(2) {
  display: none;
}

.open .bar:last-child {
  position: absolute;
  transform: rotate(-45deg);
  top: 10px;
}

.dropdown-link {
  @apply block px-4 py-2 text-secondary-800 hover:bg-primary-500 hover:text-secondary-50;
}
